In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_csv('data.csv')
print(df.shape)
df.head(2)

(3441197, 7)

,Position,Track Name,Artist,Streams,URL,Date,Region
0,1,Reggaetón Lento (Bailemos),CNCO,19272,https://open.spotify.com/track/3AEZUABDXNtecAO...,2017-01-01,ec
1,2,Chantaje,Shakira,19270,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-01,ec

In [3]:
df_mini = pd.DataFrame()
p = 0.1
for _, df_group in tqdm(df.groupby(['Position'])):
    r, _ = df_group.shape
    df_group = df_group.sample(frac=1.)
    r = int(p * r)
    df_mini = pd.concat([df_mini, df_group.iloc[:r]])
df_mini = df_mini.reset_index().drop('index', axis=1)

100%|██████████| 200/200 [00:06<00:00, 31.22it/s]

In [4]:
df_mini.shape

(344034, 7)

In [5]:
df_mini.head(2)

,Position,Track Name,Artist,Streams,URL,Date,Region
0,1,Shape of You,Ed Sheeran,4721,https://open.spotify.com/track/7qiZfU4dY1lWllz...,2017-04-10,sk
1,1,Mi Gente,J Balvin,202918,https://open.spotify.com/track/2rb5MvYT7ZIxbKW...,2017-09-17,ar

In [6]:
df_mini.to_csv('data_mini.csv')